.listBackground {
  width: 100%;
  height: 100%;
  background-color: white; }

.taskContainer {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 700px;
  background-color: #d3d1d2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  /* future proofing */
  -khtml-border-radius: 20px;
  /* for old Konqueror browsers */ }

.taskList {
  width: 700px;
  overflow: hidden;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #4a4a4a;
  font-family: helvetica;
  font-size: 14px;
  background-color: #a19e9f;
  height: 60px; }
  .taskList h3 {
    margin-top: 20px;
    height: 10px;
    text-align: center; }

.addTask {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #c5c5c5; }
  .addTask ul {
    height: 50px;
    overflow: hidden;
    margin: 0px;
    padding: 0px; }
    .addTask ul li {
      margin-top: 16px;
      float: left;
      color: #6d6d6d;
      height: 100%;
      font-family: helvetica;
      display: block;
      text-decoration: none; }
    .addTask ul .des {
      margin-left: 120px; }
    .addTask ul .pri {
      margin-left: 230px; }

.input {
  width: 700px;
  height: 50px;
  background-color: gray; }
  .input .enterTask {
    position: relative;
    z-index: 100;
    float: left;
    width: 400px;
    height: 50px;
    background-color: #eaeaea; }
    .input .enterTask .ng-valid {
      padding-left: 10px;
      height: 47px;
      width: 388px;
      border: none;
      background-color: #eaeaea;
      font-size: 20px; }
  .input .enterPriority {
    padding-left: 32px;
    width: 168px;
    float: left;
    height: 50px;
    background-color: #fff; }
    .input .enterPriority i {
      position: block;
      margin-left: 7px;
      margin-top: 20px; }
  .input .submitButton {
    float: left;
    width: 100px;
    height: 100%;
    background-color: #616161; }
    .input .submitButton input {
      padding-top: 6px;
      height: 50px;
      width: 100px;
      border: none;
      color: white;
      font-family: helvetica;
      font-size: 16px;
      background-color: #616161; }

.taskRow {
  clear: both;
  position: block;
  width: 699.5px;
  background-color: #fff; }
  .taskRow .ng-scope {
    width: 99.8%;
    margin: 0px;
    padding: 0px;
    height: 40px;
    border: 1px solid gray; }
    .taskRow .ng-scope .taskName {
      font-family: helvetica;
      padding-left: 10px;
      margin-top: 10px;
      float: left;
      width: 30%;
      height: 30px; }
      .taskRow .ng-scope .taskName .completed {
        margin: 0px;
        padding: 0px;
        text-decoration: line-through;
        color: grey; }
    .taskRow .ng-scope .taskStatus {
      font-family: helvetica;
      margin-top: 10px;
      float: left;
      width: 30%;
      height: 30px; }
    .taskRow .ng-scope .priority {
      font-family: helvetica;
      padding-left: 20px;
      margin-top: 10px;
      float: left;
      width: 30%;
      height: 30px; }
  .taskRow .taskCheck {
    margin-top: 14px; }

.bottom {
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  background-color: #a19e9f;
  overflow: hidden;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

nav {
  top: 0px;
  position: fixed;
  background-color: #34BEB7;
  height: 90px;
  width: 100%; }

.menuLeft {
  float: left;
  max-width: 50%; }

.menuRight {
  float: right;
  max-width: 50%;
  margin-left: 200px; }

.menuLeft img {
  margin: 0px;
  padding-top: 10px;
  padding-left: 11px; }

ul.menuRight {
  margin-top: 35px;
  margin-right: 90px; }

.menuRight li {
  display: inline;
  font-family: helvetica;
  font-style: bold;
  font-size: 20px;
  color: white;
  padding-right: 100px;
  list-style-type: none; }

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #34BEB7;
  height: 40px; }

.ng-scope {
  clear: both;
  margin-top: 45px;
  width: 100%;
  height: 100%; }
