<div class="listBackground">
  <div class="taskContainer">
    <div class="taskList">
       <h3>Current Tasks</h3>
    </div>
      <div class="addTask">
          <ul>
              <li class="des">Task Description</li>
              <li class = "pri">Priority</li>   
          </ul>

        <div class="input">
           <form ng-submit="addTask()">
                <div class="enterTask">
                    <input type="text" name="newTask" ng-model="enterTaskName">
                </div> 
              <div class="enterPriority">
                    <i class="fa" ng-click="fillStar($event)" ng-class="starClass()"></i>
                    <i class="fa" ng-click="fillStar($event)" ng-class="starClass()"></i>
                    <i class="fa" ng-click="fillStar($event)" ng-class="starClass()"></i>
                    <i class="fa" ng-click="fillStar($event)" ng-class="starClass()"></i>
                    <i class="fa" ng-click="fillStar($event)" ng-class="starClass()"></i>
              </div> 
              <div class="submitButton">
                  <input type="submit" value="Add">
              </div
           </form> 
        </div>

      </div>

    <div class= "taskRow">
        <div ng-repeat= "task in tasks" ng-hide="hidden()">
          <div class= "taskName {{task.status}}">{{ task.taskName }}</div>
          <div class="taskStatus">
            <span ng model="task.status" ></span>
          </div>  
          <div class="priority">
             <stars rating-value="{{task.importance}}" max="5">
          </div>  
           <label>
              <input id="check" class="taskCheck" type="checkbox" ng-click="getTaskStatus($event)" ng-model:"task.status">
           </label>
        </div>
    </div> 
  </div>

    <div class="bottom">
      <!--<button><a href="" ng-click="archive()">archive</a></button>-->
      <!--<span>{{remaining()}} of {{tasks.length}} remaining</span>-->
    </div>
</div>