<div class="listBackground">
  <div class="taskContainer">
    <div class="taskList">
       <h3>Current Tasks</h3>
    </div>
      <div class="addTask">
          <ul>
              <li class="des">Task Description</li>
              <li class = "pri">Priority</li>   
          </ul>

        <div class="input">
           <form ng-submit="addTask()">
                <div class="enterTask">
                    <input type="text" name="newTask" ng-model="enterTaskName">
                </div> 
              <div class="enterPriority">
                    <i class="fa" ng-Click="fillStar(timesClicked = timesClicked +1)" ng-init="timesClicked=0" ng-class="starClass()"></i>
                    <i class="fa" ng-Click="fillStar(timesClicked = timesClicked +1)" ng-init="timesClicked=0" ng-class="starClass()"></i>
                    <i class="fa" ng-Click="fillStar(timesClicked = timesClicked +1)" ng-init="timesClicked=0" ng-class="starClass()"></i>
                    <i class="fa" ng-Click="fillStar(timesClicked = timesClicked +1)" ng-init="timesClicked=0" ng-class="starClass()"></i>
                    <i class="fa" ng-Click="fillStar(timesClicked = timesClicked +1)" ng-init="timesClicked=0" ng-class="starClass()"></i>
                 <input class="starInput" type="number" name="stars" ng-model="enterTaskPriority">
              </div> 
              <div class="submitButton">
                  <input type="submit" value="Add">
              </div>
           </form> 
        </div>

      </div>

    <div class= "taskRow">
        <div ng-repeat= "task in tasks">
          <div class= "taskName">{{ task.taskName }}</div>
          <div class="taskStatus">
            <span ng-switch="getTaskStatus(status)">
            </span>
          </div>  
          <div class="priority">{{ task.importance }}</div>  
           <label>
              <input class="taskCheck" type="checkbox" ng-model:"changeTaskStatus">
           </label>
        </div>
    </div> 
  </div>

    <div class="bottom">
      <!--<button><a href="" ng-click="archive()">archive</a></button>-->
      <!--<span>{{remaining()}} of {{tasks.length}} remaining</span>-->
    </div>
</div>